{
  "presets": [['es2015', {modules: false}], 'react', 'stage-0'],
  "plugins": [
      ["react-hot-loader/babel"],
      ["transform-runtime"],
      ["transform-decorators-legacy"],
      ["transform-async-to-generator"],
      ["babel-plugin-root-import", {"rootPathSuffix": "src/client" }],
  ]
}
