{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "babel",
    "react",
    "promise",
    "immutable",
    "flowtype",
  ],
  "env": {
    "browser" : true,
    "jest": true
  },
  "globals": {
    "__line" : false,
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false,
    "$PropertyType": false,
    "$Shape": false,
    "google": false
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-use-before-deinfe" : 0,
    "comma-dangle"         : ["error", "always-multiline"],
    "key-spacing"          : 0,
    "semi"                 : [2, "always"],
    "jsx-quotes"           : [2, "prefer-single"],
    "max-len"              : [2, 120, 2],
    "object-curly-spacing" : [2, "always"],

    "react/no-unused-prop-types": 0, //We use flow
    "react/prop-types": 0, //We use flow

    /* "immutable/no-let": 2, */
    /* "immutable/no-mutation": 2, */
    /* "immutable/no-this": 2, */


    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/delimiter-dangle": [
      2,
      "always-multiline"
    ],
    "flowtype/generic-spacing": [
      2,
      "never"
    ],
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/no-types-missing-file-annotation": 2,
    "flowtype/no-weak-types": 0,
    "flowtype/object-type-delimiter": [
      2,
      "comma"
    ],
    "flowtype/require-parameter-type": 2,
    "flowtype/require-return-type": 0,
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/semi": [
      2,
      "always"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/type-id-match": [
      0,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "flowtype/union-intersection-spacing": [
      2,
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  }
}
