
#app-container {

}

.viewport {
  align-items: stretch;
  flex-direction: row;
}

.logo {
  width: 180px;
  margin-top: -6px;
  margin-right: -50px;
}

.workspace {
  overflow: hidden;
  top: 0;
  bottom: 0;
  right:0;
}
.map {
  flex: 1;
  position:absolute;
  top: 112px;
  bottom: 0;
  left: 0;
  right:0;
}
.navDrawer {

}

.content {
  padding: 5px;
}

.list {
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.listHeaderRow {
  padding-bottom: 3px;
  white-space: nowrap;
}

.listHeaderRow > span {
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  line-height: 24px;
  padding-bottom: 8px;
  text-overflow: ellipsis;
  vertical-align: bottom;
  padding: 0 18px 12px 18px;
}

.listRow {
  color: rgba(0, 0, 0, 0.87);
  height: 48px;
  transition-duration: 0.28s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.listRow:hover {
  background: #eee;
}

.listRow.selectedRow {
  background: #f5f5f5;
}

.listRow > span {
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  height: 48px;
  position: relative;
}

.listRow > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  display: block;
}

.tableCellRed {
  background-color: #FE381E;
  color: #fff;
}
.tableCellGreen {
  background-color: #16BE42;
  color: #fff;
}
